@model List<eLibrary.ViewModels.BookVM>
<style>
    
    .card {
        box-shadow: 2px 2px 2px 2px black;
    }
</style>
<div>
    <nav class="navbar navbar-light bg-light">
        <form class="form-control-sm">
            <input class="form-control mr-sm-2" type="search" placeholder="Search by Title" aria-label="Search by Title">
        </form>
        <form class="form-control-sm">
            <input class="form-control mr-sm-2" asp-action="GetByAuthorName" asp-controller="Book" method="GET" type="search" placeholder="Search by Name" aria-label="Search by Author Name">
        </form>
    </nav>
  @*  <nav class="navbar navbar-light bg-light">
       
    </nav>*@
</div>
<div class="container">
    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-header">
                        <div class="card-img">
                            <img src="@book.BookPicURL" />
                        </div>
                    </div>
                    <div class="card-body text-center">
                        <div class="card-title">
                            <strong>@book.Title</strong>
                        </div>
                        <div class="card-subtitle">
                            @book.Description
                        </div>
                        <div class="card-subtitle">
                            @book.Author
                        </div>
                    </div>
                    <div class="card-footer">
                        <button onclick="location.href='@Url.Action("Details", "Book", new {id = book.ID})'" class="btn btn-outline-dark">Details</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>